<!doctype html>
<html lang="en">
<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <title>Privacy Policy</title>
</head>
<body>
  <div class="container">
    <h3 class="mt-5">Privacy Policy</h3>

    <div class="mt-4">
      <h5>Data Privacy:</h5>
      <p>Online vehicle rental platforms collect various types of data from their users, such as personal information, payment details, and location data. Ensuring data privacy and protection is crucial. Service providers must have a clear privacy policy that outlines what data is collected, how it's used, and who it's shared with. Users should review this policy before providing any personal information.</p>
    </div>

    <div class="mt-4">
      <h5>Secure Transactions:</h5>
      <p>When You make the payment through third party payment gateway, such third party process Your Payment to  Asiyaiheavyvehicle, provided You comply with all applicable rules and regulations.  Asiyaiheavyvehicle shall not be responsible for any failure/decline in making payment due to any reason (including without limitation exceeding limit, wrong details etc.) as  Asiyaiheavyvehicle does not control such third parties.The platform must employ secure payment gateways and encryption methods to protect users' financial information during transactions. Users should also verify that the website uses "HTTPS" in its URL to ensure secure communication.</p>
    </div>

    <div class="mt-4">
      <h5>User Verification:</h5>
      <p>To enhance safety and prevent fraudulent activities, rental platforms should implement robust user verification processes. This can include identity checks, driving license validation, and additional security measures.</p>
    </div>

    <div class="mt-4">
      <h5>Location Tracking:</h5>
      <p>Many rental platforms rely on GPS to track the vehicle's location and provide services like navigation. Users must be informed about this feature and given the option to enable or disable location tracking as needed.</p>
    </div>

    <div class="mt-4">
      <h5>Cookie Policy:</h5>
      <p>Websites often use cookies to collect data about user preferences and behavior. A clear cookie policy should be in place, explaining how cookies are used and how users can manage their preferences.</p>
    </div>

    <div class="mt-4">
      <h5>Marketing and Communication:</h5>
      <p>Users should have the option to opt-in or opt-out of marketing communications and promotional offers from the platform. The service provider should respect users' preferences in this regard.</p>
    </div>

    <div class="mt-4">
      <h5>Data Retention:</h5>
      <p>Clearly outline the duration for which user data will be stored and the purpose of retaining it. Data should not be kept longer than necessary.</p>
    </div>

    <div class="mt-4">
      <h5>Third-Party Sharing:</h5>
      <p>If the platform shares user data with third-party partners (e.g., for insurance purposes), this should be explicitly stated in the privacy policy, and users should be given the option to consent or decline.</p>
    </div>

    <div class="mt-4">
      <h5>Children's Privacy:</h5>
      <p>If the platform allows rentals by individuals under a certain age, additional considerations for children's privacy must be addressed.</p>
    </div>

    <div class="mt-4">
      <h5>Compliance with Regulations:</h5>
      <p>Ensure that the platform complies with relevant data protection laws and regulations in the jurisdictions where it operates.</p>
    </div>

    <div class="mt-4">
      <h5>To sum up,</h5>
      <p>A transparent and comprehensive privacy policy, secure transactions, user verification processes, and compliance with privacy laws are crucial elements in online vehicle rental platforms to protect the privacy and interests of both service providers and users.</p>
    </div>
    <div class="mt-4">
      <h5>MEMBERSHIP ELIGIBILITY :</h5>
      <p>Use of the Website is available only to persons who can form legally binding contracts under Indian Contract Act, 1872. Persons who are incompetent to contract within the meaning of the Indian Contract Act, 1872 including minors, un-discharged insolvents etc. are not eligible to use the Website. If you are a minor i.e. under the age of 18 years, you shall not register as a member of the Website. AHV or its affiliates reserves the right to terminate your membership and refuse to provide you with access to the Website if it is brought to AHV or its affiliates notice or if it is discovered that you are under the age of 18 years</p>
    </div>
    <div class="mt-4">
      <h5>YOUR ACCOUNT AND REGISTRATION OBLIGATIONS :</h5>
     <p>If you use the Website, you are responsible for maintaining the confidentiality of your User ID and Password and for restricting access to your computer, computer system and computer network, and you are responsible forall activities that occur under your User ID and Password.In addition, you agree to provide true, accurate, current and complete information into the Website</p>
    </div>
    <div class="mt-4">
      <h5>FEES AND SERVICES Membership :</h5>
      <p>On the Website is available on the payment of prescribed fee structure and meeting other conditions as described in the User Agreement. All fees are non-refundable. AHV or its affiliates may at its sole discretion introduce new services and modifysome or all of the existing services offered on the Website. In such an event AHV or its affiliates reserves the right to introduce fees for the new services offered or amend/introduce fees for existing services, as the case may be NO WARRANTYAHV or its affiliates and its suppliers, affiliates and service providers provide the Website as is and without any Warranty or condition, express, implied or statutory and specifically disclaim any implied Warranties of title, merchantability, fitness for a particular purpose and non-infringement. You expressly agree that your use of the Website is at your risk</p>
    </div>
    <div class="mt-4">
     <h5>Asiyaiheavyvehicle collect:</h5>
     <p>Personally identifiable information when you register for a  Asiyaiheavyvehicleaccount.</p>
    </div>
    <div class="mt-4">
     <h5>Changes to this Privacy Policy:</h5>
     <p> Asiyaiheavyvehicle may amend this policy from time to time. If we make any substantial changes in the way we use your personal information we will
 		notify you by.</p>
    </div>
    <div class="mt-4">
     <h5>Other Privacy Policy:</h5>
     <p>When You make the payment through third party payment gateway, such third party process Your Payment to  Asiyaiheavyvehicle, provided You comply with all applicable rules and regulations.  Asiyaiheavyvehicle shall not be responsible for any failure/decline in making payment due to any reason (including without limitation exceeding limit, wrong details etc.) as  Asiyaiheavyvehicle does not control such third parties.</p>
    </div>
  </div>

   

  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.14.7/dist/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>
