{% extends "base.html" %}
{% load static %} 
{% block content %}


<style>
    .row{
        justify-content:start!important;
    }
</style>

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Dashboard</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Dashboard</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="owl-carousel">
                   <div class="image-aspect">
                        <img src="/static/images/worker-from-dressed-work-clothes-observing-some-excavators-construction-site-ai-generative.jpg" alt="">
                    </div>
                    <div class="image-aspect">
                        <img src="/static/images/digger-1867268_1280.jpg" alt="">
                    </div>
                    <div class="image-aspect">
                        <img src="/static/images/mining-440743_1280.jpg" alt="">
                    </div>
                    <div class="image-aspect">
                      <img src="/static/images/handyman-3094035_1280.jpg" alt="">
                  </div>
                  <div class="image-aspect">
                    <img src="/static/images/excavator-construction-machine.jpg" alt="">
                  </div>
                  <div class="image-aspect">
                    <img src="/static/images/bulldozer-410119_1280.jpg" alt="">
                </div>
                <div class="image-aspect">
                  <img src="/static/images/close-up-construction-site-excavator.jpg" alt="">
                </div>
                
                <div class="image-aspect">
                 <img src="/static/images/hyva.png" alt="">
                </div>
                <div class="image-aspect">
                  <img src="/static/images/jcb.png" alt="">
                 </div>
                 <div class="image-aspect">
                  <img src="/static/images/roller.jpeg" alt="">
                 </div>
                 <div class="image-aspect">
                  <img src="/static/images/construction-site-1646654_1280.jpg" alt="">
                 </div>
                 <div class="image-aspect">
                  <img src="/static/images/driver/1.jpg" alt="">
                 </div>
                 <div class="image-aspect">
                  <img src="/static/images/labour/2.jpg" alt="">
                 </div>
                 <div class="image-aspect">
                  <img src="/static/images/bi.jpeg" alt="">
                 </div>
                 <div class="image-aspect">
                  <img src="/static/images/busone.jpeg" alt="">
                 </div>
                 <div class="image-aspect">
                  <img src="/static/images/bul.jpeg" alt="">
                 </div>
                 <div class="image-aspect">
                  <img src="/static/images/bus.jpeg" alt="">
                 </div>
                 <div class="image-aspect">
                  <img src="/static/images/sitec.jpeg" alt="">
                 </div>
                <!--  <div class="image-aspect">-->
                <!--  <img src="/static/images/client.jpeg" alt="">-->
                <!--</div>-->
                </div>
                </div>
            </div>
        </div>

        <!-- Heavy Vehicles -->
        <div class="row">
          <div class="col-lg-12">
            <div class="card card-dark card-outline">
              <div class="card-header font-weight-bold d-flex">
                Heavy Vehicles
                <a class="btn btn-sm btn-dark bg-yellow ml-auto elevation-2" href="{% url 'account:vehicels_all_view' %}">View All</a>
              </div>
              <div class="card-body">
                <div class="row">
                  {% for i in MasterContents %}
                   <h1>{{i.key}}</h1>
                  {% endfor  %}
                  {% for i in vehicles %}
                  
                    <div class="col-lg-4 col-md-6 col-sm-12 py-2">
                        <div class="card h-100">
                          <div class="image-aspect">
                              {% if i.vehicle_image %}
                            <img src="{{i.vehicle_image.url}}" class="card-img-top" alt="...">
                             {% else %}
                            
                            <img src="{{image}}" class="card-img-top" alt="...">

                            {% endif %}
                          </div>
                          
                          <div class="card-body p-0">
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">
                                <strong>Vehicle Name :</strong>
                                <span>{{i.vehical_name}}</span>
                              </li>
                              <li class="list-group-item">
                                <strong>Model Name :</strong>
                                <span> &nbsp; &nbsp;{{i.vehiclemodelnumber}}</span>
                              </li>
                              <li class="list-group-item">
                                <strong>Manufacturing Year :</strong>
                                <span>{{i.manufacture_date}}</span>
                              </li>
                              <li class="list-group-item">
                                <strong>Location :</strong>
                                {% for address in i.vehicleaddress.all %}
                                    <span>{{address.state_id}}-{{address.district_id}}</span>
                                    {% endfor %}
                              </li>
                            </ul>
                          </div>
                          <div class="card-footer">
                            <a href="{% url 'vehicle_owner:vehicle_view' i.id %}" class="btn btn-block bg-yellow elevation-1">View More</a>
                            <!--<a href="vehicle-detail.html" class="btn btn-block btn-dark elevation-1">Edit</a>-->
                          </div>
                        </div>
                    </div>
                     {% empty %}
                      <div>No Data</div>
                    {% endfor %}
                  
                  </div>
                </div>
              </div>
            
            </div><!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          
        </div>
        <!-- /.row -->

        <!-- Driver/Operator -->
        <div class="row">
          <div class="col-lg-12">
            <div class="card card-dark card-outline">
              <div class="card-header font-weight-bold d-flex">
                Driver/Operator
                <a class="btn btn-sm btn-dark bg-yellow ml-auto" href="{% url 'account:drivers_all_view'%}">View All</a>
              </div>
              <div class="card-body">
                <div class="row">
                  {% for i in MasterContents %}
                  <h1>{{i.key}}</h1>
                  {% endfor  %}
                  {% for i in drivers %}
                  <div class="col-lg-4 col-md-6 col-sm-12 py-2">
                        <div class="card h-100">
                          <div class="image-aspect">
                              {% if i.driver_image %}
                            <img src="{{i.driver_image.url}}" class="card-img-top" alt="...">
                             {% else %}
                            
                                <img src="{{image}}" class="card-img-top" alt="...">

                            {% endif %}
                          </div>
                          
                          <div class="card-body p-0">
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">
                                <strong>Driver/Operator Name :</strong>
                                <span>{{i.driveroperatorname}}</span>
                              </li>
                              <li class="list-group-item">
                                <strong>Vehicle Name  &nbsp;:</strong>
                                <span> &nbsp;{{i.vehicalname}}</span>
                              </li>
                              
                              <li class="list-group-item">
                                <strong>Experience In Years  &nbsp;:</strong>
                                <span> &nbsp;{{i.expriencesinyear}}</span>
                              </li>
                              <li class="list-group-item">
                                <strong>Heavy_License  &nbsp;:</strong>
                                <span> &nbsp;{{i.heavy_license}}</span>
                              </li>
                              <li class="list-group-item">
                                <strong>Location  &nbsp;:</strong> &nbsp;
                                {% for address in i.driverAddress.all %}
                                    <span>{{address.state_id}}-{{address.district_id}}</span>
                                {% endfor %}
                              </li>
                            </ul>
                          </div>
                          <div class="card-footer">
                            <a href="{% url 'driver:driver_view' i.id %}" class="btn btn-block bg-yellow elevation-1">View More</a>
                            <!--<a href="vehicle-detail.html" class="btn btn-block btn-dark elevation-1">Edit</a>-->
                          </div>
                        </div>
                    </div>
                         {% empty %}
                      <div>No Data</div>
                    {% endfor %}
                </div>
                
               
              </div>
            </div><!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          
        </div>
        <!-- /.row -->

        <!-- Sub Contractor -->
        <div class="row">
          <div class="col-lg-12">
            <div class="card card-dark card-outline">
              <div class="card-header font-weight-bold d-flex">
                Sub Contractor
                <a class="btn btn-sm btn-dark bg-yellow ml-auto" href="{% url 'account:subcontructor_all_view'%}">View All</a>
              </div>
              <div class="card-body">
                <div class="row">
                  {% for i in MasterContents %}
                    <h1>{{i.key}}</h1>
                  {% endfor  %}
                  {% for i in sub_set %}
                  <div class="col-lg-4 col-md-6 col-sm-12 py-2">
                        <div class="card h-100">
                          <div class="image-aspect">
                            {% if i.subcontractor_image %}
                                <img src="{{i.subcontractor_image.url}}" class="card-img-top" alt="...">
                            {% else %}
                            
                            <img src="{{image}}" class="card-img-top" alt="...">

                            {% endif %}
                          </div>
                          
                          <div class="card-body p-0">
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">
                                <strong>SubContructor Name :</strong>
                                
                                <span>{{i.contractorname}}</span>
                              </li>
                              <li class="list-group-item">
                                <strong>Firm Name  &nbsp;:</strong>
                                
                                <span> &nbsp;{{i.firmname}}</span>
                              </li>
                              <li class="list-group-item">
                                <strong>Type Of Work  &nbsp;:</strong>
                                <span> &nbsp;{{i.typeofwork}}</span>
                              </li>
                              <li class="list-group-item">
                                <strong>Experience In Years  &nbsp;:</strong>
                                <span> &nbsp;{{i.expriencesinyear}}</span>
                              </li>
                              <li class="list-group-item">
                                <strong>Location  &nbsp;:</strong> &nbsp;
                                {% for address in i.SubcotructorAddress.all %}
                                    <span>{{address.state_id}}-{{address.district_id}}</span>
                                    {% endfor %}
                              </li>
                            </ul>
                          </div>
                          <div class="card-footer">
                            <a href="{% url 'sub_contructor:subcontructor_view' i.id %}" class="btn btn-block bg-yellow elevation-1">View More</a>
                            <!--<a href="vehicle-detail.html" class="btn btn-block btn-dark elevation-1">Edit</a>-->
                          </div>
                        </div>
                    </div>
                     {% empty %}
                      <div>No Data</div>
                    {% endfor %}
                  
                </div>
              </div>
            </div><!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          
        </div>
        <!-- /.row -->

        <!-- Labour Contractor -->
        <div class="row">
          <div class="col-lg-12">
            <div class="card card-dark card-outline">
              <div class="card-header font-weight-bold d-flex">
                Labour Contractor
                <a class="btn btn-sm btn-dark bg-yellow ml-auto elevation-2" href="{% url 'account:labour_all_view' %}">View All</a>
              </div>
              <div class="card-body">
                <div class="row">
                  {% for i in MasterContents %}
                  <h1>{{i.key}}</h1>
                  {% endfor  %}
                  {% for i in labours %}
                  <div class="col-lg-4 col-md-6 col-sm-12 py-2">
                        <div class="card h-100">
                          <div class="image-aspect">
                            {% if i.labour_image %}
                                <img src="{{i.labour_image.url}}" class="card-img-top" alt="...">
                            {% else %}
                            
                            <img src="{{image}}" class="card-img-top" alt="...">

                            {% endif %}
                          </div>
                          
                          <div class="card-body p-0">
                            <ul class="list-group list-group-flush">
                              <li class="list-group-item">
                                <strong>Labour Contructor Name  &nbsp;:</strong>
                                <span> &nbsp;{{i.name}}</span>
                              </li>
                              <li class="list-group-item">
                                <strong>Type Of Work  &nbsp;:</strong>
                                <span> &nbsp;{{i.labourwork}}</span>
                              </li>
                              <li class="list-group-item">
                                <strong>Labour(InNumber)  &nbsp;:</strong>
                                <span> &nbsp;{{i.lobourinnumber}}</span>
                              </li>
                              
                              <li class="list-group-item">
                                <strong>Location  &nbsp;:</strong> &nbsp;
                                {% for address in i.labourAddress.all %}
                                    <span>{{address.state_id}}-{{address.district_id}}</span>
                                    {% endfor %}
                              </li>
                            </ul>
                          </div>
                          <div class="card-footer">
                            <a href="{% url 'labour_contructor:labour_view' i.id %}" class="btn btn-block bg-yellow elevation-1">View More</a>
                            <!--<a href="vehicle-detail.html" class="btn btn-block btn-dark elevation-1">Edit</a>-->
                          </div>
                        </div>
                    </div>
                     {% empty %}
                      <div>No Data</div>
                    {% endfor %}
                  
                </div>
              </div>
            </div><!-- /.card -->
          </div>
          <!-- /.col-md-6 -->
          
        </div>
        <!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  <!-- Main Footer -->
</div>
<!-- ./wrapper -->

<!-- REQUIRED SCRIPTS -->

<!-- jQuery -->
<script src="plugins/jquery/jquery.min.js"></script>
<!-- Bootstrap 4 -->
<script src="plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
<!-- AdminLTE App -->
<script src="js/adminlte.js"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>

<script>
    var $owl = $('.owl-carousel');

    $owl.children().each( function( index ) {
        $(this).attr( 'data-position', index ); // NB: .attr() instead of .data()
    });

    $owl.owlCarousel({
        center: true,
        loop: true,
        dots: true,
        slideTransition: 'linear',
        autoplay:true,
        autoplayTimeout:3000,
        autoplaySpeed: 500,
        items: 3,
        responsive: {
        0: {
          items: 1,
          nav: false,
          loop: true,
        },
        600: {
          items: 2,
          nav: false,
          loop: true,
        },
        1000: {
          items: 2,
          nav: false,
          loop: true,
        },
      },
    });

    $(document).on('click', '.owl-item>div', function() {
        var $speed = 500;  //in ms
        $owl.trigger('to.owl.carousel', [$(this).data( 'position' ), $speed] );
    });
</script>

{% endblock %}
